{% extends "admin/main.html" %}
{% block content %}
<div id="content">
    <div id="addreserve">
    <form action="/admin/reserves/add/" name="reserve" method="POST">
    <table>
    <tbody>
    <tr><th class="delimiter" colspan="2">Add new reserve link</th></tr>
    {% for field in reserve_form %}
        <tr>
            <th>
                {{ field.label_tag }}:
            </th>
            <td>
                {{ field }}
                {{ field.errors }}
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td class="submit" colspan="2"><input type="submit" name="reserve" value="Add reserve link" /></td>
    </form>
    </tbody>
    </table>
    </form>
</div>
</div>
{% endblock %}
