{% extends "switch.html" %}
{% load custom_tags %}
{% block title1 %}::{{ switch_id|getSwNameByID }}{% endblock %}
{% block title2 %}::Comments{% endblock %}
{% block level1 %}<li>&rarr; <a href="/switch-{{ switch_id }}/">Switch {{ switch_id|getSwNameByID }}</a></li>{% endblock %}
{% block level2 %}<li id="current">&rarr; Comments</li>{% endblock %}
{% block menu %}
<ul>
    <li>
        {% block commentadd %}<a href="/switch-{{ switch_id }}/comments/add/">Add</a>{% endblock %}
    </li>
</ul>
{% endblock %}
{% block content %}
<div id="content">
    <div id="comments_container">
    {% for comment in object_list %}
        <div id="comment">
            <span class="name">
                {{ comment.name }}
            </span>
            <span class="time">
                ({{ comment.time }})
            </span>:
            <span class="delete">
                <a href="/switch-{{ switch_id }}/comments/{{ comment.id }}/delete/" OnClick="if (! confirm('Комментарий будет удален навсегда!')) { return false; }">Delete</a>
            </span>
            <span class="edit">
                <a href="/switch-{{ switch_id }}/comments/{{ comment.id }}/edit/">Edit</a>
            </span>
            <div class="delimiter">&nbsp;</div>
            <span class="comment_comment">
                {{ comment.comment }}
            </span>
        </div>
    {% empty %}
        <div id="comment" style="text-align:center;">
            No comments yet
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
