{% extends "main.html" %}
{% block level1 %}&rarr; FAQ{% endblock %}
{% block faq_act %} class="active"{% endblock %}
{% block content %}
<div id="content">
<ul>
    <li><b>Для чего был сделан этот ресурс?</b><br />Изначальная версия ресурса была сделана для просмотра свободных портов на управляемых свитчах за определенный период.<br />В данный момент доступны также некоторые дополнительные возможности, но суть осталась той же.</li><br />
    <li><b>Какие возможности имеются на данный момент?</b>
        <ol>
            <li>Добавление неуправляемого свитча на карту</li>
            <li>Добавление резервного линка на карту</li>
            <li>Редактирование информации о свитче и пользователе, в комнате которого этот свитч стоит</li>
            <li>Комментарии для каждого свитча (с возможностью удаления (навсегда) и редактирования)</li>
            <li>Просмотр схематического расположения свитчей для каждого сектора (вид сверху)</li>
            <li>Просмотр количества зарегистрированных и незарегистрированных пользователей на каждом порту управляемого свитча, а также текущего состояния порта</li>
        </ol>
    </li><br />
    <li><b>В каких браузерах данная карта будет работать так, как задумывал её создатель?</b><br />Ресурс тестировался в актуальных на март 2012 года версиях браузеров Mozilla Firefox, Google Chrome и Opera Mini</li><br />
    <li><b>Как добавить новый неуправляемый свитч на карту?</b><br />Для этого надо нажать ссылку <a href="/admin/">Admin</a> на главной странице, затем выбрать <a href="/admin/switches/">Edit stupid switches</a>, после чего нажать на ссылку <a href="/admin/switches/add/">Add</a> в правом верхнем углу, где ввести всю нужную информация (если вы введете что-то неправильно - вылезет подсказка о том, что вы ввели значение в неправильном формате.<br />Процедура добавления резервного линка почти ничем не отличается от процедуры добавления управляемого свитча</li><br />
    <li>
        <b>Почему на главной странице все свитчи разноцветные, а полоски разной толщины???</b><br />
        Розовые овальчики - тупые свитчи, остальные - управляемые. Желтый овальчик - свитч лежит.<br />
        Жирная черная полоска - 1Gbps<br />
        Тонкая черная полоска - 100Mbps<br />
        Тонкая желтая полоска - 10Mbps<br />
        Пунктирная черная полоска - линка нет<br />
        Пунктирная красная полоска - порт, на котором висит свитч, выключен
    </li><br />
    <li>
        <b>Как мне посмотреть/указать информацию, о человеке, живущем в комнате со свитчем?</b><br />
        Специально для этого на каждом свитче предусмотрены вкладки Information и Edit. Всё, что не относится к информации о пользователе желательно указывать в комментариях
    </li><br />
    <li><b>Как узнать из какого порта на данном управляемом свитче я могу без особых проблем выдернуть кабель?</b>
        <ol>
            <li>Двигаешь ползунок</li>
            <li>Жмешь Show</li>
            <li>Смотришь, на каких портах MAC's (total) равняется нулю</li>
            <li>Если в предыдущем пункте таких портов не оказалось - двигаешь ползунок левее и повторяешь пункты 2 и 3</li>
            <li>Если в пункте 3 показалось несколько свободных портов - двигаешь ползунок правее и повторяешь пункты 2 и 3 до тех пор, пока не достигнешь максимального значения по времени, в течение которого на определенных портах никого не было</li>
            <li>???</li>
            <li>PROFIT</li>
        </ol>
        Таким образом мы получаем порты, из которых можно с определенной долей уверенности выдергивать кабель и не бояться, что выдернул активного клиента.
    </li><br />
    <li><b>Могу ли я, являясь работником сети MasterBit, положить прибор, не заходить сюда, не добавлять свитчи и комментарии, выдергивать первый попавшийся кабель из управляемого свитча, чтобы подключить нового клиента?</b><br />Нет</li><br />
</ul>
</div>
{% endblock %}
