{% extends "base.html" %}
{% block menu %}
<ul>
    <li{% block search_act %}{% endblock %}><a href="/search/">Search</a></li>
    <li{% block faq_act %}{% endblock %}><a href="/faq/">F.A.Q</a></li>
    <li{% block admin_act %}{% endblock %}><a href="/admin/">Admin</a></li>
</ul>
{% endblock %}
{% block level1 %}
<div id="subnavigation">
    <li><a href="/extended/">Extended</a></li>
</div>
{% endblock %}
{% block content %}
	{% include 'big_swmap.html' %}
	<img src="/images/big_swmap.gif" usemap="#G" alt="swmap" />
{% endblock %}
