{% extends "base.html" %}
{% load custom_tags %}
{% block content %}
    <form action="/switch-{{ switch.sw }}/edit/" name="contacts" method="post">
    <table>
    <tbody>
    {% for field in contacts_form %}
        <tr>
            <th>
                {{ field.label_tag }}:
            </th>
            <td>
                {{ field }}
                {{ field.errors }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    <p><input type="submit" value="Update" /></p>
    </form>
    {{ switch_form }}
{% endblock %}
